<!DOCTYPE html>
<html>
  <head>
    <title><%= user.email %></title>
  </head>
  <body>
    <h1><%= user.profile.name %> < <%= user.email %> > </h1>
    <img src="<%= user.profile.picture %>" width="100px" height="100px" />
  </body>
</html>
