<% if (error.length > 0) { %>
  <% error.forEach((errMsg) => { %>
    <div class="alert alert-danger"><%= errMsg %></div>
  <% }) %>
<% } %>
<% if (success.length > 0) { %>
  <% success.forEach((successMsg) => { %>
    <div class="alert alert-success"><%= successMsg %></div>
  <% }) %>
<% } %>
<% if (info.length > 0) { %>
  <% info.forEach((infoMsg) => { %>
    <div class="alert alert-info"><%= infoMsg %></div>
  <% }) %>
<% } %>
