<!DOCTYPE html>
<html>

<%- include('header'); %>

  <body class="bg-dark">
    <div class="container mt-5">
      <div class="card text-center border-dark bg-secondary text-white">
        <img src="https://media.giphy.com/media/5pN6XvznfC9UI/giphy.gif" class="card-img">
        <div class="card-img-overlay">
          <div class="card-header">Social Login</div>
          <div class="card-body">
            <h5 class="card-title">Social Login</h5>
            <p class="card-text">login login login login login</p>
            <div class="w-50 mx-auto">
              <a class="btn btn-block btn-social btn-google" href="/auth/google">
                <span class="fab fa-google fa-sm"></span> Sign in with Google
              </a>
              <a class="btn btn-block btn-social btn-github" href="/auth/github">
                <span class="fab fa-github"></span> Sign in with Github
              </a>
              <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
                <span class="fab fa-facebook"></span> Sign in with Facebook
              </a>
            </div>
          </div>
          <div class="card-footer">
            <small>Login is good.</small>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
